<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LeafLens - Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

  <header style="border-radius: 5px;">
    <div class="logo">
      <img src="{{ url_for('static', filename='plant-disease-5515569-4600144.webp') }}" alt="LeafLens Logo">
      <h1>LeafLens</h1>
    </div>
  </header>

  <nav style="border-radius: 5px;">
    <ul>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('upload_file') }}">Upload Image</a></li>
      <li><a href="{{ url_for('disease_info') }}">Disease Information</a></li>
      <li><span style="color: rgb(255, 255, 255); cursor: not-allowed;">Login/Signup</span></li>
    </ul>
  </nav>

  <section class="hero">
    <video autoplay muted loop style="border-radius: 10px; width: 100%; height: auto;">
      <source src="static/farmvid2.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    
    <div class="quote">
      <p>"Embracing technology in agriculture isn't just innovation; it's a transformative force that cultivates sustainability, efficiency, and resilience, ensuring a bountiful future for both farmers and the world."</p>
    </div>
  </section>

  <section class="services" >
    <h2>Our Services</h2>
    <div class="service-card" style="border-radius: 20px;" >
      <video autoplay muted loop style="border-radius: 15px; width: 100%; height: auto;">
        <source src="static/uploadleaf.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <a href="{{ url_for('upload_file') }}">Upload Image</a></a>
    </div>
    <div class="service-card" style="border-radius: 20px;">
      <video autoplay muted loop style="border-radius: 15px; width: 100%; height: auto;">
        <source src="static/knowplant3.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <a href="{{ url_for('disease_info') }}">Know your plants</a>
    </div>
  </section>

  <footer>
    <div class="footer-content">
      <div class="footer-section">
        <h3>About Us</h3>
        <p>We are focused towards the goal of empowering plant enthusiasts and farmers alike, our cutting-edge app harnesses the power of Machine Learning to revolutionize plant care. Seamlessly diagnosing diseases, it stands as a reliable guide, fostering healthier crops and nurturing a greener and better tomorrow.</p>
      </div>
      <div class="footer-section">
        <h3>All Rights Reserved &copy; 2024 LeafLens</h3>
      </div>
    </div>
  </footer>

</body>
</html>
